@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure for .Net Developers</h1>
    <h3>
        Learning about Azure .Net feature
        @ViewData["Greeting"]
    </h3>
</div>
